{{!-- <article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <em><span>Posted by {{user.username}} on {{format_date created_at}}</span></em>
      </div>
      <div class="meta">
          <span>{{post_text}}</span>
      </div>
</article> --}}


    <h5 class="card-title"><a href="/post/{{id}}">{{name}}</a></h5>
    <h6 class="card-subtitle mb-2 muted-text"><em><span>Created by {{user.username}}</span></em></h6>
    <p class="card-text">
            <p>{{type}} {{type1}}</p>
            <p></p>
            <p>{{move1}} {{move2}} {{move3}} {{move4}}</p>
            
            <p>{{ability1}} {{ability2}} {{ability3}}</p>
            <p>{{user_id}}</p></p>
