<h6 class="card-subtitle mb-2 mt-1 muted-text"><em><span>{{type}} {{type2}}</span></em></h6>
<h5 class="card-title"><a href="/pokemon/{{id}}">{{name}}</a></h5>
<img class="card-img-top p-2 card-img" src="/images/{{type}}.png" alt="Card image cap">
<div class="card-body">
    <h5 class="card-text">Moves</h5>
    <p class="card-text">{{move1}} {{move2}} {{move3}} {{move4}}</p>
    <h5 class="card-text">Agilities</h5>
    <p class="card-text">{{ability1}} {{ability2}} {{ability3}}</p>

    <h6 class="card-subtitle mb-2 muted-text"><em><span>Created by {{user.username}}</span></em></h6>

</div>