
    <h5 class="card-title"><a href="/post/{{id}}">{{name}}</a></h5>
    <h6 class="card-subtitle mb-2 muted-text"><em><span>Created by {{user.username}}</span></em></h6>
    <p class="card-text">
            <p>{{type}} {{type2}}</p>
            <p></p>
            <p>{{move1}} {{move2}} {{move3}} {{move4}}</p>
            
            <p>{{ability1}} {{ability2}} {{ability3}}</p>
    </p>
