

<div class="card p-2 m-2 rounded shadow">
                    <h6 class="card-subtitle mb-2 mt-1 muted-text"><em><span>{{pokemons.type}} {{pokemons.type2}}</span></em></h6>
                    <h5 class="card-title">{{pokemons.name}}</h5>
                    <img class="card-img-top p-2 card-img" src="/images/{{pokemons.type}}.png" alt="Card image cap" >
                    <div class="card-body">
                            <h5 class="card-text">Moves</h5>
                            <p class="card-text">{{pokemons.move1}} {{pokemons.move2}} {{pokemons.move3}} {{pokemons.move4}}</p>
                            <h5 class="card-text">Agilities</h5>
                            <p class="card-text">{{pokemons.ability1}} {{pokemons.ability2}} {{pokemons.ability3}}</p>
                            
                            <h6 class="card-subtitle mb-2 muted-text"><em><span>Created by {{pokemons.user.username}}</span></em></h6>
                    </div>
                    <h6 class="card-subtitle mb-0 muted-text text-right"><em><span><a href="/dashboard/edit/{{pokemon.id}}" class="edit-link">Edit Pokemon (only on owners dashboard)</a></span></em></h6>
                    {{!-- <a href="/pokemon/{{id}}" class="stretched-link"></a> --}}
                </div>


{{#if loggedIn}}
<script src="/javascript/edit-pokemon.js"></script>
{{/if}}