<div class="container padded-div">
  <div class="row justify-content-center">
    <div class="card p-2 m-2 rounded shadow">
        <h6 class="card-subtitle mb-2 mt-1 muted-text"><em><span>{{pokemons.type}} {{#if pokemons.type2}} - {{pokemons.type2}} {{/if}}</span></em></h6>
        <h5 class="card-title">{{pokemons.name}}</h5>
        {{!-- <img class="card-img-top p-2 card-img" src="/images/{{pokemons.type}}.png" alt="Card image cap" >
         --}}
         <img class="card-img-top p-2 card-img" src="https://desolate-ridge-10974.herokuapp.com/images/{{pokemons.type}}.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-text">Moves</h5>
          <ul class="card-text">
              {{#if pokemons.move1}}<li class="card-text">{{pokemons.move1}}</li>{{/if}}
              {{#if pokemons.move2}}<li class="card-text">{{pokemons.move2}}</li>{{/if}}
              {{#if pokemons.move3}}<li class="card-text">{{pokemons.move3}}</li>{{/if}}
              {{#if pokemons.move4}}<li class="card-text">{{pokemons.move4}}</li>{{/if}}
          </ul>
          <h5 class="card-text">Abilities</h5>
          <ul class="card-text">
              {{#if pokemons.ability1}}<li class="card-text">{{pokemons.ability1}}</li>{{/if}}
              {{#if pokemons.ability2}}<li class="card-text">{{pokemons.ability2}}</li>{{/if}}
              {{#if pokemons.ability3}}<li class="card-text">{{pokemons.ability3}}</li>{{/if}}
          </ul>
        {{#if owner}}
        <a href="/dashboard/edit/{{pokemons.id}}" class="edit-link">Edit Pokemon</a>
        {{/if}}
   </div>
  </div>
</div>

{{#if loggedIn}}
<script src="/javascript/edit-pokemon.js"></script>
{{/if}}